@model PagedList.IPagedList<QLBanhang.Models.SanPham>
@using QLBanhang.Models;
@using PagedList.Mvc;
<link rel="stylesheet" href="~/Content/PagedList.css" />
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <p></p>
    <div class="form-group form-inline">
        Tìm sản phẩm: @Html.TextBox("SearchString", "", new { @class="form-control"})
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="background-color:lavender;margin-top:5px;text-align:center;">
            <h3> @Html.DisplayFor(modelItem => item.TenSP) </h3>
            @Html.Image("../" + item.HinhSP, "alt", "100")<br />
            @Html.DisplayFor(modelItem => item.Dongia)<br />
            <a class="btn btn-info btn-sm" href="@Url.Action("Details", "Sanphams", new { id = item.MaSP })">
                Xem chi tiết
            </a>
        </div>
    }
</div>
<div>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page=>Url.Action("Index",
    new
    {
        page,
        CurrentFilter = ViewBag.CurrentFilter
    }))
</div>